<footer class="footer">
        <div class="footer-sub">
            <div class="container">
                <p>
                    @Resources.Layout.TxtSmsm ©
                    <script type="text/javascript">
                    document.write(new Date().getFullYear());
                    </script>
                </p>
            </div>
        </div>
    </footer>
    
   
