@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="col-md-12 center">
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title pull-right">@ViewBag.Title</span>
                    <ul class="nav nav-tabs" data-tabs="tabs"></ul>
                </div>
            </div>
        </div>
        <div class="card-content">

            <div class="row">
                <div>
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>


            <div class="center-text">
            </div>
        </div>
    </div>
</div>