<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{tabHeadId}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{tabCollapseId}" aria-expanded="false" aria-controls="collapse{tabCollapseId}">
                <i class="material-icons pull-right">{parentMenuIcon}</i>
                <span class="notification"></span>
                <p>{parentMenuTitle}</p>
            </a>
        </h4>
    </div>
    <div id="collapse{tabCollapseId}" class="panel-collapse collapse {CollapseString}" role="tabpanel" aria-labelledby="heading{tabHeadId}">
        <div class="panel-body">
            <ul class="navlist">
                {subMenuHtml}
            </ul>
        </div>
    </div>
</div>